<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title><%= title %></title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <ul style="display: none;">
    <% images.forEach(function(item){ %>
      <li><img data-src="<%= item.src %>"  alt="<%= item.alt %>"></li>
    <% }); %>
  </ul>
</body>
<script src="./index.js"></script>
<script>
  if (/(iPhone|iPod|iOS｜Android)/i.test(navigator.userAgent)) { //判断iPhone|iPad|iPod|iOS
    imageViewer.load({list: document.querySelector("ul"), imgerror: '/client/imgerror.svg', clientType: 0});
  } else {
    imageViewer.load({list: document.querySelector("ul"), imgerror: '/client/imgerror.svg'});
  };
</script>
</html>